/* button{
    background-color: green;
    color: white;
    font-size: 23px;
    font-weight: 500;
    padding: 8px 14px ;
    border: none;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

} */